@import '../../variables';

.login-area{
    padding: $header-height 0;
    text-align: center;

    .login-title {
        margin: $margin*2 0;
        font-size: 1.8rem;
        font-weight: 700;
    }

    .login-box {
        display: inline-block;
        margin: $margin*2 0;
        width: 22rem;
        
        .input-type { 
            display: flex;
            font-size: 0.8rem;
            font-weight: 700;
        }

        .input-content {
            margin: $margin 0;
            padding: $padding*0.2;
            height: 3rem;
            border: 1px solid #adb5bd;
            border-radius: 0.5rem;

            input {
                height: 100%;
                width: 100%;
                border: none;
                padding: $padding;
            }
        }

        button{
            margin-top: $margin;
            width: 100%;
            height: 3rem;
            background-color: $default-color;
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
            border-radius: 0.5rem;
        }
    }

    .find-area{
        margin-bottom: $margin;
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 700;

        p::after {
            margin: $margin;
            content: '|';
        }

        p:last-child::after {
            content: none;
        }
    }
}


