@import '../../variables';

.testguide-area {
    padding: $header-height 0 $header-height*0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    .testguide-container {
        padding: $padding*5 0;
        text-align: center;
        width: 40vw;
        height: 60vh;
        background-color: rgba(#f1f3f5, 0.8);
        border-radius: 14px;

        .testguide-ment {
            font-weight: 700;
            font-size: 3rem;
            line-height: 62px;
        }

        .testguide-tested {
            padding: $padding*3 0 $padding;
            font-size: 0.8rem;

            span {
                color: #74c0fc;
                font-weight: 700;
                font-size: 0.9rem;
            }
        }

        .testguide-start-btn {
            width: 28%;
            height: 14%;
            font-weight: 700;
            font-size: 1.6rem;
            border-radius: 14px;
            background-color: rgba(gray, 0.2);
        }

        .testguide-notice {
            padding-top: $padding;
            color: rgba(gray, 0.6);
            font-size: 0.8rem;
        }
    }
}