@import '../../variables';

.teststart-area {
    padding: 9rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .teststart-container {
        padding: $padding * 2 $padding * 3;
        border: 1.4px solid #000;
        border-radius: 62px;
        width: 31vw;
        height: 62vh;

        .teststart-main-title {
            padding-bottom: 1.4rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.8rem;
        }

        .teststart-sub-title {
            padding-bottom: 7.8rem;
            line-height: 1.4rem;
        }

        .teststart-img-area {
            display: flex;
            justify-content: flex-end;

            .teststart-img {
                width: 55%;
            }
        }

        .teststart-btn-area {
            text-align: center;

            .teststart-btn {
                border: 1px solid #000;
                border-radius: 32px;
                background-color: black;
                width: 100%;
                height: 6vh;
                font-weight: 700;
                font-size: 1.4rem;
                color: white;
            }
        }
    }
}