@import '../../variables';
@import '../../font.css';

.home-area {
    padding: $padding * 6 $padding * 6 0;
    z-index: 5000;

    .home-content-area {
        display: flex;
        margin: 2rem 0;
        width: 100%;
        height: 65vh;
        
        .home-ment-area {
            padding: 4rem 4rem;
            width: 50%;

            .home-title {
                padding-bottom: 2rem;
                width: 50%;
            }

            .home-title-ment {
                font-family: '';
                font-size: 1.2rem;
            }
        }

        .home-img-area {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 50%;

            .home-img {
                width: 50%;
                margin-right: 15%;
            }
        }
    }

    .home-divider {
        position:relative;
        bottom: 20vh;
    }
}

.ani-mv {
    animation: ani-mv 1s;
}

@keyframes ani-mv {
    0% { 
        transform: translateY(70px); 
        opacity: 0;
    }
    100% { transform: translateY(0); }
}