@import '../../variables';

.bg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.main-section {
    display: flex;
    height: 100vh;
    width: 100%;
    color: white; 
    align-items: center;
    z-index: 5000;

    .main-ment {
        margin-left: 18%;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4rem;
    }

}

