@import '../../variables';

.header-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding * 2;
    background-color: $default-color;
    color: white;
    z-index: 10000;

    transition: 0.7s;

    .header-content-area {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-menu-area {
            display: flex;
            
            li {
                margin-right: $margin * 3;
                font-weight: 600;
            }

            :last-child {
                margin-right: -$margin * 10;
            }
        }
    
        .header-title {
            font-size: 1.8rem;
            font-weight: 700;
        }
    
        .header-my-menu-area {
            display: flex;
            font-size: 1.2rem;

            div {
                margin-left: $margin * 3;
            }
        }
    }
}

.style-ch {
    background-color: rgba(0,0,0,0);
    color: white;
    transition: 0.7s;
}