@import '../../variables';

.header-area {
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding;
    background-color: white;
    z-index: 10000;

    .header-content-area {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-logo-area {
            display: flex;
            align-items: center;
            width: 33.333%;

            .header-logo {
                width: 25%;
            }
        }

        .header-menu-area {
            display: flex;
            justify-content: center;
            width: 33.333%;
            
            li {
                margin: 0 0.6rem;
                padding: 0.6rem 1.4rem;
                background-color: white;
                border: 1px solid #000;
                border-radius: 16px;
                font-weight: 600;
                color: black;
            }
        }
    
        .header-my-menu-area {
            display: flex;
            justify-content: flex-end;
            width: 33.333%;
            font-size: 1.4rem;

            div {
                margin: 0 $margin * 1.2;
            }
        }
    }
}