@import '../../variables';

.header-area {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: $padding*2 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #8ce99a;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;

    .menu {
        display: flex;
        margin-left: 12%;
        li {
            margin-right: $margin*3;
        }
    }

    .title {
        position:absolute;
        left: 45%;
        font-size: 2rem;
        font-weight: 700;
    }

    .my-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10%;

        .login {
            margin-right: $margin * 2;
        }
    }
}