@import '../../variables';

.recommend-area{
    padding: $header-height 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;


    .content{
        width: 80%;
        height: 150vh;
        border-radius: 15px;
        
        .popular-box{
            width: 100%;
            height: 30%;

            h2{
                font-size: 20px;
                font-weight: 600;
                color: gray;
                margin-top: $margin*1;
            }

            h1{
                font-size: 25px;
                font-weight: 700;
                margin-top: $margin*1.5;
            }

            .popular-items{
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: center;


                .popular-item{
                    margin-top: $margin*4;
                    border: 1px solid #d8d8d8;
                    width: 15%;
                    height: 23vh;



                    .num{
                        position: relative;
                        z-index: 1;
                        float: left;
                        top: 0;
                        font-size: 28px;
                        font-weight: 700;
                        line-height: 1px;
                        color: #166fcc;
                    }

                    .img-box{
                        height: 75%;
                        border: 1px solid #d8d8d8;
                        
                        .img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .item-name{
                        height: 25%;
                        font-size: 11px;
                    }
                }
            }
        }

        .recommend-box{
            width: 100%;
            height: 70%;
            border-top: 1px solid #d8d8d8;

            .bar{
                height: 5%;
                border-bottom: 1px solid #d8d8d8;
                
                .total-num{
                    text-align: left;
                }
            }
            .recommend-items{
                height: 95%;
               display: flex;
            //    align-items: center;
               justify-content: space-between;
               text-align: center;
               flex-wrap: wrap;

               .recommend-item{
                margin-top: $margin*3;
                width: 18%;
                height: 35vh;
                border: 1px solid black;

                .recommend-img{
                    width: 100%;
                    height: 40%
                }
               }
            }
        }

    }
}