@import '../../variables';

.recommend-area{
    display: flex;
    padding: $header-height 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .recommend-container{
        display: flex;
        border: 0.1px solid gray;
        width: 60rem;
        height: 38rem;
        
        .nav{
            width: 15%;
            height: 100%;

            ul{
                padding: $padding*16 0 $padding*4 0;

                .list-row{
                    line-height: 6rem;
                }
            }
        }

        .content-container{
            width: 85%;
            height: 100%;



            .slider-wrap{
                position: relative;
                width: 100%;
                height: 35%;
                overflow: hidden;


                .btn{
                    position: absolute;
                    width: 50px;
                    font-size: 2.4rem;
                    top: 50%;
                    cursor: pointer;
                    z-index: 5000;
                    user-select: none;
                    // background: rgba(0, 0, 0, 0.1);
                }

                #next{
                    right: 0;
                }

                .rankImage{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }

            .list{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: 65%;
                
                .list-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border: 1px solid black;
                    width: 17rem;
                    height: 50%;

                    .img-area{
                        width: 50%;
                    }

                    .information{
                        width: 50%;
                    }
                }
            }
        }

    }
}