@import '../../variables';

.recommend-area{
    display: flex;
    justify-content: center;

    .recommend-content{
        width: 900px;
        height: 1550px;
        padding: $header-height*0.6 0;
        text-align: center;

        h2{
            font-size: 20px;
            font-weight: 600;
            color: gray;
        }
    
        h1{
            font-size: 25px;
            font-weight: 700;
            margin-top: $margin*1.5;
        }
    
        .popular-box{
            width: 900px;
            background-image: linear-gradient(to right, #ced4da 33%,
            rgba(255,255,255,0) 0%);
            background-position: bottom; 
            background-size: 17px 2px;/*점선 간격 수정*/
            background-repeat: repeat-x;
            padding-top: $padding*0.8;

            h2{
                margin: $margin*1.5 0 0 $margin;
                float: left;
                font-size: 15px;
                color: black;
            }
            
            .popular-items{
                display: flex;
                text-align: center;
                width: 900px;
                
                .popular-item{
                    margin: $margin*1.6 $margin*0.8 $margin * 1.2;
                    width: 160px !important;
                    border-radius: 20px;
                    border: 1.3px solid #343a40;
                    
                    .popularItemHead{
                        display: flex;
                        height: 10%;
                        justify-content: flex-start;
                        align-items: center;
                        
                        .num{
                            border-radius: 17px 0 0 0;
                            background-color: black;
                            width: 20%;
                            font-size: 25px;
                            font-weight: 600;
                            color: white;
                        }

                        .item-name{
                            padding-left: $padding*0.6;
                            font-size: 12px;
                            font-weight: 700;
                        }
                    }

                    .img-box{
                        width: 100%;
                        border-top: 1.3px solid #343a40;

                        .img{
                            padding: $padding*0.6;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .search-area{
            display: flex;
            margin-top: $padding * 2.4;
            align-items: center;
            border-radius: 20px;
            border: 1.3px solid #343a40;
            height: 3%;
        
            .search-bar{
                height: 100%;
                width: 90%;
            }
        
            .search-button{
                font-size: large;
                margin: 0 $margin*0.6 0 $margin;
            }   
        }

        .bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3%;
            
            .total-num{
                font-size: 13.7px;
                font-weight: 700;
                padding-top: $padding;
            }


        }
    }

    .modal{
        position: fixed;
        top: 55%;
        left: 50%;
        display: flex;
        width: 1200px;
        height: 70vh;
        border: 3px solid var(--secondary);
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 3px 40px 0 #ced4da;
        background-color: white;
        transform: translate(-50%, -50%);    
        z-index: 10000;
    
        .modalImg{
            width: 50%;
            height: 100%;
        }
    
        .modalContents{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 48%;
            height: 100%;
    
            .modal-header{
                display: flex;
                width: 100%;
                height: 10%;

                .modal-itemName{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    border: 1px solid gray;
                    margin-right: $margin;
                }

                .modal-itemScore{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30%;
                    border: 1px solid gray;
                }
            }
    
            .modal-middle{
                text-align: left;
                border: 1px solid gray;
                margin: $margin 0 $margin 0;
                width: 100%;
                height: 50%;
                font-weight: 800;
                font-size: 1.2rem;
            }
    
            .modal-bottom{
                width: 100%;    
                height: 40%;

                border: 1px solid gray;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .CommentInsert{
                    border: 1px solid gray;
                    margin-bottom: $margin;
                    width: 90%;
                    height: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .inputNames{
                        border: 1px solid #000;
                    }

                    .inputContents{
                        border: 1px solid #000;
                    }

                    .input-submit {
                        border: 1px solid #000;
                        height: 50%;
                    }
                }



                .comment{
                    width: 90%;
                    height: 60%;
                    border: 1px solid gray;
                    overflow-y: scroll;

                    .comment-row {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        font-weight: 800;

                        .comment-writer {
                        }

                        .comment-content {
                        }

                        .comment-time {
                            color: gray;
                            font-size: 0.8rem;
                        }

                        button {
                            border: 1px solid #000;
                        }
                    }
                }

            }
    
        }
    
        .xButton{
            cursor: pointer;
            font-size: 1.5rem;
            width: 2%;
            height: 5%;
        }
    
    }


    .recommend-left{
        width: 17%;
        padding-top: $padding*7;
        
        .accordion{
            position: sticky;
            top: 100px;
            margin-right: $margin*4;
            border-radius: 20px;
            border: 1.3px solid #343a40;
            
            .item{

                .item-box{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 50px;
                    cursor: pointer;

                    background-image: linear-gradient(to right, #ced4da 33%, rgba(255,255,255,0) 0%);
                    background-position: bottom; 
                    background-size: 17px 2px;/*점선 간격 수정*/
                    background-repeat: repeat-x;
                    

                    .title-kr{
                        padding: 0 0 0 $padding;
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 10px;
                        width: 30%;
                    }

                    .title-eng{
                        padding-left: $padding*0.3;
                        color: #b2b2b2;
                        font-size: 13px;
                        width: 60%;
                    }

                    .arrow-down{
                        right: 0;                                              
                    }
                }

                .item-box:last-child{
                    border-bottom: none;
                }


                .content{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 0.05s cubic-bezier(0,1,0,1);
                }

                .content.show{
                    height: auto;
                    max-height: 9999px;
                    transition: all 0.05s cubic-bezier(1,0,1,0);
                    padding-bottom: $padding;
                }
            }
        }   
    }



    
    .recommend-box{
        width: 100%;
        height: 65%;      
        
        
        .recommend-items{
            height: 95%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .recommend-item{
                display: flex;
                flex-direction: column;
                margin-top: $margin*2;
                width: 30%;
                border-radius: 20px;
                border: 1.3px solid #343a40;
                

                    
                .recommend-img{
                    padding: $padding*1.5 $padding*3.5;
                    width: 100%;
                    height: 55%;
                    cursor: pointer;
                    border-bottom:  1.3px solid #343a40;
                }
                
    
                .recommend-itemExplain{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 40%;
    
                    .explain-box{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        font-size: 0.7rem;
                        font-weight: 300;
                        padding: $padding;
    
                        .recommend-item-name{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-weight: 700;
                            font-size: 12px;
                            padding-bottom: $padding;
                        }
    
                        .recommend-item-contry{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding-bottom: $padding;
                            font-weight: 500;
                            font-size: 0.8rem;
                        }

                        .item-tag{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            width: 80%;
                            height: 50%;
        
                            li{
                                padding: $padding*0.3 $padding*0.4;
                                margin: $margin*0.2 $margin*0.2 $margin*0.2 0;
                                font-size: 0.8rem;
                                color: #949494;
                                border: 1.3px solid #adb5bd;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .recommend-right{
        width: 10%;
    }

    
}