@import '../../variables';

.recommend-area{
    display: flex;
    justify-content: center;
    

    .recommend-content{
        width: 900px;
        padding: $header-height*0.6 0;
        text-align: center;

        .rePagination{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: $margin*7;
            
            li{
                display: inline-block;
                width: 30px;
                height: 30px;
                border: 1px solid #e2e2e2;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                transition: background-color 0.2s;
                cursor: pointer;
        
        
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 1rem;
                }
            }
        
            li:hover{
                background-color: #3b5bdb;
                color: white;
            }
        
            li:first-child{
                border-radius: 5px;
                width: 40px;
                margin-right: $margin;
            }
        
            li:last-child{
                border-radius: 0 5px 5px 0;
                width: 40px;
                margin-left: $margin;
            }
        }

        h2{
            font-size: 20px;
            font-weight: 600;
            color: gray;
        }
    
        h1{
            font-size: 25px;
            font-weight: 700;
            margin-top: $margin*1.5;
        }
    
        .popular-box{
            width: 900px;
            background-image: linear-gradient(to right, #ced4da 33%,
            rgba(255,255,255,0) 0%);
            background-position: bottom; 
            background-size: 17px 2px;/*점선 간격 수정*/
            background-repeat: repeat-x;
            padding-top: $padding*0.8;

            h2{
                margin: $margin*1.5 0 0 $margin;
                float: left;
                font-size: 15px;
                color: black;
            }
            
            .popular-items{
                display: flex;
                text-align: center;
                width: 900px;
                
                .popular-item{
                    margin: $margin*1.6 $margin*0.8 $margin * 1.2;
                    width: 160px !important;
                    border-radius: 20px;
                    border: 1.3px solid #343a40;
                    
                    .popularItemHead{
                        width: 100%;
                        
                        .popularItemHead-num-name{
                            display: flex;
                            align-items: center;
                            
                            .num{
                                border-radius: 15px 0 0 0;
                                background-color: black;
                                width: 25%;
                                height: 28px;
                                font-size: 23px;
                                font-weight: 500;
                                color: white;
                            }
    
                            .item-name{
                                padding-left: $padding*0.3;
                                font-size: 12px;
                                font-weight: 700;
                                width: 68%;
                            }
                        }

                    }

                    .img-box{
                        width: 100%;
                        border-top: 1.3px solid #343a40;

                        .img{
                            padding: $padding*0.6 0 0 0;
                            border-radius: 0 0 18px 18px;
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
            }
        }

        .search-area{
            display: flex;
            margin-top: $margin * 2.4;
            padding: $padding*0.6;
            align-items: center;
            border-radius: 20px;
            border: 1.3px solid #343a40;
        
            .search-bar{
                height: 100%;
                width: 90%;
            }
        
            .search-button{
                font-size: large;
                margin: 0 $margin*0.6 0 $margin;
            }   
        }

        .bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 3%;
            
            .total-num{
                font-size: 13.7px;
                font-weight: 700;
                padding-top: $padding;
            }
        }
    }

    .modal{
        position: fixed;
        top: 54%;
        left: 50%;
        display: flex;
        width: 1000px;
        height: 80vh;
        border: 3px solid var(--secondary);
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 3px 40px 0 #ced4da;
        background-color: white;
        transform: translate(-50%, -50%);    
        z-index: 10000;
    
        .modalImg{
            width: 50%;
            background-color: white;
            border: 1px solid #000;
            border-radius: 16px;
            padding: $padding 0 0 0;
            margin-right: $margin*1.6;
        }
    
        .modalContents{
            width: 48%;

            .modal-header{
                width: 100%;
                height: 10%;
                border: 1px solid #000;
                border-radius: 16px;
                padding: $padding*0.5;
                margin-bottom: $margin;
                display: flex;

                .modal-itemName{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .modal-itemName-kr{
                        font-size: 20px;
                        font-weight: 600;
                        margin-right: $margin*0.6;

                        .modal-itemName-eng{
                            font-size: 15px;
                            font-weight: 600;
                            color: #868e96;
                        }
                    }
                }
            }
    
            .modal-middle{
                text-align: left;
                padding: $padding*0.5;
                width: 100%;
                height: 88%;
                border: 1px solid #000;
                border-radius: 16px;

                .modal-description-area {
                    font-size: 1.2rem;
                    margin-bottom: $margin*0.8;

                    p{
                        padding: 0 $padding*0.6 $padding*0.6 $padding*0.6;
                        font-size: 15px;
                    }
                }

                .modal-ingredient-area {
                    
                    .modal-ingredient {
                        display: flex;
                        align-items: center;
                        font-weight: 800;
                        font-size: 1.2rem;
                        margin-bottom: $margin;

                        .modal-itemVolume{
                            font-size: 15px;
                            margin-left: $margin*0.6;
                            padding-top: $padding*0.2;
                            color: #868e96;
                        }
                    }

                    .modal-ingredient-wine{
                        font-weight: 800;
                        font-size: 1.2rem;
                    }

                    .modal-ingredient-box {
                        width: 100%;
                        height: 100%;
                        margin-bottom: $margin*0.8;

                        .modal-ingredient-o{
                            display: flex;
                            justify-content: flex-start;
                            

                            .modal-ingredient-card {
                                text-align: center;
                                width: 20%;
        
                                .modal-ingredient-img {
                                    border: 1px solid #000;
                                    border-radius: 100%;
                                    background-color: pink;
                                    width: 55px;
                                    height: 55px;
                                }
        
                                .modal-ingredient-name {
                                    font-size: 12px;
                                } 
                            }
                        }

                        .wine-area{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;

                            .wine-box{
                                display: flex;
                                align-items: center;
                                margin: $margin;
                                
                                .wine-ingredient{
                                    font-weight: 700;
                                    margin-right: $margin*0.6;
                                }
                            }
                        }
                    }
                }

                .modal-input-area {
                    border: 1px solid #000;
                    padding: 0.6rem 0.8rem;
                    height: 40%;
        
                    .modal-login-inNeed {
                        padding-top: 1rem;
                        text-align: center;
                        font-weight: 800;
                        font-size: 0.9rem;
                    }
        
                    .input-id-rating {
                        display: flex;
                        align-items: center;
    
                        .modal-shop-userName{
                            margin-right: 1rem;
                            font-weight: 800;
                            font-size: 14px;
                        }
                    }
                    
                    .modal-input-box {
                        display: flex;
                        align-items: center;
                        margin-top: 0.6rem;
    
                        .modal-input {
                            border: 1px solid #000;
                            border-radius: 8px;
                            padding: 0.2rem;
                            margin-right: 1rem;
                            width: 88.3%;
    
                            .modal-shop-input{
                                width: 100%;
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
    
                .modal-divider {
                    border-bottom: 1px solid #000;
                    margin: 10px 0;
                }
    
                .maodal-comment-area{
                    padding: 0.4rem 0.8rem;
                    height: 40%;
                    font-size: 0.8rem;
    
                    .modal-comment-inNeed {
                        padding-top: 4rem;
                        height: 90%;
                        text-align: center;
                    }
    
                    .modal-comment-box{
                        height: 90%;
                        overflow:auto;
                        margin-top: 0.4rem;
    
                        .comment-row {
                            padding-bottom: 0.4rem;
                            margin-bottom: 0.4rem;
                            border-bottom: 1px solid rgba(gray, 0.3);
    
                            .comment-info-area {
                                display: flex;
                                justify-content: space-between;
    
                                .comment-id-rating {
                                    display: flex;
                                    align-items: center;
    
                                    .comment-writer {
                                        margin-right: 1rem;
                                        font-weight: 800;
                                    }
    
                                    .comment-updated {
                                        color: rgba(gray, 0.5);
                                        font-size: 0.5rem;
                                    }
                                }
    
                                .comment-time-updated {
                                    display: flex;
                                    align-items: center;
    
                                    .comment-time {
                                        color: gray;
                                        font-size: 0.5rem;
                                    }
                                }
                            }
    
                            .comment-content-btn {
                                display: flex;
                                align-items: center;
                                margin-top: 0.3rem;
    
                                .comment-content-area {
                                    border: 1px solid #000;
                                    border-radius: 8px;
                                    padding: 0.2rem;
                                    margin-right: 6px;
                                    width: 89%;
    
                                    .comment-content {
                                        width: 100%;
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                        }
    
                        .comment-update-row {
                            margin-bottom: 6px;
                            padding: 1rem 0.8rem;
                            border-radius: 12px;
                            background-color: rgba(gray, 0.1);
    
                            .input-id-rating {
                                display: flex;
                                align-items: center;
                            }
    
                            .comment-writer {
                                margin-right: 1rem;
                                font-weight: 800;
                            }
    
                            .comment-content-btn {
                                display: flex;
                                align-items: center;
                                margin-top: 0.3rem;
    
                                .comment-update-input {
                                    border: 1px solid #000;
                                    border-radius: 12px;
                                    padding: 0.3rem;
                                    margin-right: 12px;
                                    width: 86%;
    
                                    .comment-update {
                                        width: 100%;
                                        font-size: 0.8rem;
                                        background-color: rgba(gray, 0.015);
                                    }
                                }
                            }
                        }
                    }
                }
            }           
        }
    
        .xButton{
            cursor: pointer;
            font-size: 1.5rem;
            width: 2%;
            height: 5%;
        }
    }

    .recommend-left{
        width: 17%;
        padding-top: $padding*7;
        
        .accordion{
            position: sticky;
            top: 100px;
            margin-right: $margin*4;
            border-radius: 20px;
            border: 1.3px solid #343a40;
            
            .item{
                .item-box{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 50px;
                    cursor: pointer;

                    background-image: linear-gradient(to right, #ced4da 33%, rgba(255,255,255,0) 0%);
                    background-position: bottom; 
                    background-size: 17px 2px;/*점선 간격 수정*/
                    background-repeat: repeat-x;
                    

                    .title-kr{
                        padding: 0 0 0 $padding;
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 10px;
                        width: 30%;
                    }

                    .title-eng{
                        padding-left: $padding*0.3;
                        color: #b2b2b2;
                        font-size: 13px;
                        width: 60%;
                    }

                    .arrow-down{
                        right: 0;                                              
                    }
                }

                .item-box:last-child{
                    border-bottom: none;
                }
            }
        }   
    }

    .recommend-box{
        width: 100%;
        
        .recommend-items{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .recommend-item{
                display: flex;
                flex-direction: column;
                margin-top: $margin*2;
                width: 30%;
                border-radius: 20px;
                border: 1.3px solid #343a40;
                
                .recommend-img{
                    padding: $padding 0 0 0;
                    width: 100%;
                    height: 300px;
                    cursor: pointer;
                    border-bottom:  1.3px solid #343a40;
                }
                
                .recommend-itemExplain{
                    display: flex;
                    flex-direction: column;
    
                    .explain-box{
                        display: flex;
                        flex-direction: column;
                        font-size: 0.7rem;
                        font-weight: 300;
                        padding: $padding;
    
                        .recommend-item-name{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-weight: 700;
                            font-size: 12px;
                            padding-bottom: $padding;
                        }
    
                        .recommend-item-contry{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding-bottom: $padding;
                            font-weight: 500;
                            font-size: 0.8rem;
                        }

                        .item-tag{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            width: 100%;
        
                            li{
                                padding: $padding*0.3 $padding*0.4;
                                margin: $margin*0.2 $margin*0.2 $margin*0.2 0;
                                font-size: 0.8rem;
                                color: #949494;
                                border: 1.3px solid #adb5bd;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }
        }
        
    }
    

    .recommend-right{
        width: 10%;
    }

    
}