@import '../../variables';

.footer-area {
    border-top: 1px solid #000;
    display: flex;    
    justify-content: center;
    width: 100%;
    background-color: white;
    font-weight: 600;

    .footer-content-area {
        margin-top: $margin*2;
        padding: $padding;
        width: 95%;

        .footer-main-area {
            display: flex;
            
            .footer-logo-area {
                width: 50%;

                .footer-logo {
                    width: 20%;
                }
            }
    
            .footer-help-area {
                display: flex;
                width: 50%;
    
                .footer-help-box {
                    width: 25%;
                }
    
                .footer-help-content {
                    font-weight: 500;
                    font-size: 0.8rem;
                    margin-top: $margin;
                }
            }
        }

        .footer-divider {
            border-top: 1px solid black;
            margin: $margin*4 0;
        }

        .footer-icon-box {
            font-size: 1.4rem;
            text-align: center;

            span {
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .footer-goal {
            margin: $margin 0;
            text-align: center;
        }

        .footer-tag-area {
            display: flex;
            justify-content: center;
            font-size: 0.66rem;

            .footer-tags {
                display: flex;
                flex-wrap: wrap;    
                justify-content: center;
                width: 70%;

                p {
                    margin: $margin*0.2 0;
                }
    
                ::after {
                    content: '|';
                    margin: $margin*0.3;
                }
    
                :last-child::after {
                    content: none;
                }
            }
        }

        .footer-txt {
            margin: $margin*1.4 0;
            text-align: center;
            font-size: 0.66rem;
        }
    }
}