@import '../../variables';

.testresult-area {
    padding: $header-height 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .testresult-contents {
        border: 1px solid #000;
        width: 42vw;
        height: 50vh;
        text-align: center;

        
        .testresult-ment {
            padding-top: $padding * 3;
            font-weight: 700;
            font-size: 1.4rem;
            letter-spacing: 8px;
        }
        
        .testresult-mytype {
            padding-top: $padding*0.6;
            font-weight: 700;
            font-size: 3rem;
            letter-spacing: 0.8rem;
        }

        .testresult-img-area {
            padding-top: $padding*1.2;
            display: flex;
            align-items: center;
            justify-content: center;

            .testresult-img {
                border: 1px solid #000;
                width: 14vw;
                height: 24vh;
            }
        }
    }
}