@import '../../variables';

.testresult-area {
    padding: $header-height 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .testresult-contents {
        width: 20vw;
        height: 50vh;
        text-align: center;
        
        .testresult-main-ment {
            font-weight: 700;
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }

        .testresult-mytype {
            padding-top: $padding;
            font-weight: 700;
            font-size: 2.6rem;
            letter-spacing: 0.6rem;
        }

        .testresult-ment {
            padding-top: $padding * 1.2;
            font-weight: 700;
            font-size: 1.2rem;
            letter-spacing: 4px;
        }
        

        .testresult-img-area {
            padding-top: $padding*1.4;
            display: flex;
            justify-content: center;

            .testresult-img {
                border: 1px solid #000;
                width: 18vw;
                height: 24vh;
                border-radius: 12px;
            }
        }

        .testresult-comment {
            padding-top: $padding;
            font-weight: 700;
            font-size: 0.9rem;
        }

        .testresult-btn-area {
            padding-top: $padding * 1.4;
            display: flex;
            justify-content: space-evenly;

            .testresult-btn {
                border-radius: 8px;
                font-size: 1.2rem;
            }
        }

        .testresult-icon-area {
            padding-top: $padding * 1.4;
            display: flex;
            justify-content: center;

            .testresult-icon-box{
                display: flex;
                justify-content: space-evenly;
                width: 80%;

                .testresult-icon {
                    font-size: 1.6rem;
                }
            }
        }
    }
}