@import "../../variables";

.signup-area {
    display: flex;
    padding: $header-height 0 $padding*5;
    justify-content: center;
    align-items: center; 

    .signup-container {
        padding: $padding*3 $padding*6;
        border: 0.1px solid gray;
        width: 36rem;

        .signup-title {
            text-align: center;
            font-weight: 700;
            font-size: 1.8rem;
        }

        .signup-row {
            padding-top: $padding*0.6;
            
            .signup-type {
                padding-top: $padding*0.8;
                font-weight: 700;
                color: gray;
            }

            .signup-input-area {
                display: flex;
                justify-content: space-between;
                padding: $padding*0.8 0 $padding*0.2;
                border-bottom: 1.5px solid gray;
                transition: 0.6s;
            }

            .signup-input {
                width: 80%;
                font-size: 0.8rem;
            }

            .signup-radio-area {
                display: flex;
                padding-top: $padding*0.6;
                
                .signup-radio-box {
                    font-size: 0.8rem;
                    flex-basis: 6rem;

                    &:first-child {
                        padding-left: $padding*0.4;
                    }
                }

                .signup-radio {
                    position: relative;
                    top: 1.6px;
                }
            }
        }

        .signup-btn-area {
            padding-top: $padding;
            text-align: center;

            .signup-btn {
                border: none;
                width: 100%;
                font-weight: 700;
                font-size: 0.8rem;
                border-radius: 8px;
                line-height: 2rem;
            }
        }
    }    
}

input, select {
    border: none;
}

.signup-input-err {
    display: flex;
    justify-content: space-between;
    padding: $padding*0.8 0 $padding*0.2;
    border-bottom: 1.5px solid rgba(red, 0.6);
    transition: 0.6s;
}

.signup-err-msg {
    padding: $padding*0.4 0 0 $padding*0.4;
    color: rgba(red, 0.6);
    font-size: 0.7rem;
    font-weight: 600;
}

.signup-id-check-ok {
    display: flex;
    justify-content: space-between;
    padding: $padding*0.8 0 $padding*0.2;
    border-bottom: 1.5px solid rgba(green, 0.6);
    transition: 0.6s;
}

.signup-check-ok {
    opacity: 0.9;
    color : green;
}