// size
$margin: 0.8rem;
$padding: 1rem;
$header-height: $padding*12;

// color
$default-color: black;

// class
.ch-color {
    background-color: rgba(0,0,0,0);
    color: white;
}

.pointer {
    cursor: pointer;
}