// sizes
$margin: 0.8rem;
$padding: 1rem;
$header-height: $padding*8;

// colors
$default-color: black;

// classes
.pointer {
    cursor: pointer;
}

.hide {
    display: none;
}

.font-selected {
    font-weight: 700;
}