@import "../../variables";

.test{
    display: flex;
    padding: $header-height 0;
    justify-content: center;
    text-align: center;

    
    .test_area{
        padding: $padding*3 $padding*0;
        width: 30rem;
        height: 26rem;
        border: 0.1px solid gray;
        border-radius: 0.8rem;
        
        .question_area{
            font-weight: 600;
            font-size: 1.4rem;
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        
        .choice{
            width: 30vw;
            margin-top: 0.8rem;
            border: 1px solid #e9ecef;
            border-radius: 0.8rem;
            background-color: #e9ecef;
            cursor: pointer;
        }
    }
    
}