@import '../../variables';

.notfound-area {
    padding: $header-height 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .notfound-container {
        padding: $padding*6 0;
        text-align: center;

        h2 {
            padding-top: $padding*2;
            font-size: 6rem;
            font-weight: 700;
            letter-spacing: 0.8rem;

            span {
                color: #4dabf7;
            }
        }
    
        .notfound-ment-area {
            padding-top: $padding*2;
            display: flex;
            justify-content: center;
            align-items: center;

            .notfound-oops {
                margin-right: $margin *0.8;
                font-weight: 700;
                font-size: 2rem;
            }

            .notfound-ment {
                font-weight: 700;
                font-size: 1.2rem;
            }
        }    

        .notfound-btn-area {
            padding-top: $padding*2;

            .notfound-btn {
                border: none;
                padding: $padding;
                border-radius: 12px;
                font-weight: 700;
                font-size: 1.4rem;
            }
        }

    }
}